<head>
  <title>stayfit</title>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

</head>

<body>
    {{>nav}}
  {{> public_view}}
</body>

<template name="public_view">
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span12">
            <p><strong>A service to plan outdoor activities.</strong></p>
        </div>
    </div>
    
</div>

    {{#if currentUser}}
        
        
        {{>map}}

    {{/if}}
    

    
</template>

<template name="loggedInTemplate">

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 well">
        Sports
    </div>
    <div class="span3 well">
        Calender
    </div>
    <div class="span3 well">
        Places
    </div>
    <div class="span3 well">
        Expenses
    </div>
    
  </div>
</div>
</template>

<template name="nav">


<div class="navbar nav">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">stayfit</a>

          	<div class="nav-collapse collapse">
              <div class="pull-right">
                <ul class="nav pull-right">
                    <li>{{loginButtons}}</li>
                                    </ul>
              </div>
            </div>
        </div>
    </div>
</div>

</template>


<template name="map">
<div class="map" id="map_canvas"></div>
</template>
