<head>
  <title>stayfit</title>
</head>

<body>
  {{> public_view}}
</body>

<template name="public_view">
    {{loginButtons}}
    
    {{loggedIn}}
    <div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
        <h1>stayfit</h1>
        <p><strong>A service to plan outdoor activities.</strong></p>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 well">
      3rd Party API Integration (instagram, gmaps)
    </div>
    <div class="span4 well">
      Geolocation
    </div>
    <div class="span4 well">
      Services Discovery and Tagging
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4 well">
     Rhobust 'trickle-down' messaging support (Twillio).
    </div>
    <div class="span4 well">
      Create private/public or moderated communities
    </div>
    <div class="span4 well">
      Definable themes or pratices
    </div>
  </div>
</div>

    
</template>
