<template name="moves">
  <!--  <a href="#" class="btn-primary getMovesData">Refresh this week</a>
    <a href="#" class="btn-primary" onClick ='Meteor.call("movesApiStoryline",Meteor.userId(),function(error,result){if(typeof error == "undefined")Session.set("page","map") });'>Get storyline</a>
    -->
    
    <div class="row-fluid">
    
    <form class="form">
        <legend>You have {{totalDays}} loaded</legend>
        <label>Past days to retreve</label>
        <input type="text" class="movesPastDays"/>
        
        <a href="#" class="btn-primary setDays">Go</a>
    
    </form>
    </div>
    
</template>

<template name="moves_segments">
    <h2>{{date}}</h2>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>type</th>
                    <th>name</th>
                    <th>lat,lon</th>
                    <th>begin</th>
                    <th>end</th>

                </tr>
            </thead>
            <tbody>
                {{#each this.segments}}
                    <tr>
                        <td>{{type}}</td>
                        <td>{{name}}</td>
                        <td>{{lat}},{{lon}}</td>
                        <td>{{startTime}}</td>
                        <td>{{endTime}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="moves_activities">
    <h2>{{date}}</h2>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>activity</th>
                    <th>duration</th>
                    <th>miles</th>
                    <th>calories</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.segments}}
                    {{#each this.activities}}
                    <tr>
                        <td>{{activity}}</td>
                        <td>{{duration}}</td>
                        <td>{{distance}}</td>
                        <td>{{calories}}</td>
                    </tr>
                    {{/each}}
                
                {{/each}}
            </tbody>
            
        </table>
    </div>
</template>