<template name="moves">
    <div class="row-fluid">
        {{#each getPlaces}}
            {{>moves_segments}}
        {{/each}}
    </div>
    <div class="row-fluid">
        {{#each getActivities}}
            {{>moves_activities}}
        {{/each}}
    </div>
</template>

<template name="moves_segments">
    <h2>{{date}}</h2>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>type</th>
                    <th>name</th>
                    <th>lat,lon</th>
                    <th>begin</th>
                    <th>end</th>

                </tr>
            </thead>
            <tbody>
                {{#each this.segments}}
                    <tr>
                        <td>{{type}}</td>
                        <td>{{name}}</td>
                        <td>{{lat}},{{lon}}</td>
                        <td>{{startTime}}</td>
                        <td>{{endTime}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="moves_activities">
    <h2>{{date}}</h2>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>activity</th>
                    <th>duration</th>
                    <th>miles</th>
                    <th>calories</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.segments}}
                    {{#each this.activities}}
                    <tr>
                        <td>{{activity}}</td>
                        <td>{{duration}}</td>
                        <td>{{distance}}</td>
                        <td>{{calories}}</td>
                    </tr>
                    {{/each}}
                
                {{/each}}
            </tbody>
            
        </table>
    </div>
</template>