<template name="static_map">


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type ="text/javascript">
    var map; var infowindow;
    function InitializeMap() {
        var latlng = new google.maps.LatLng(40.756, -73.986);
        var myOptions =
        {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);
    }


    function markicons() {

        InitializeMap();

        var ltlng = [];
        var text = [
        ["1a28ef88-76c9-5bcc-b4ee-51d30ca98f4f", "Pepsi Center"],
        ["1d1f74a2-7b35-56f0-8cbd-552c51cb2c14", "Rose Garden Arena"],
        ["1d2e59b2-2479-5f84-a6a7-e82f65dd8442", "US Airways Center"],
        ["24bb478e-eb31-5f8a-8c8d-07f513169ec1", "Bankers Life Fieldhouse"],
        ["38911649-acfd-551a-949b-68f0fcaa44e7", "United Center"],
        ["401ba62f-19b5-5bfc-84d6-021772943311", "American Airlines Center"],
        ["42cddf7a-0e1f-5f91-ae6f-c620582fdb01", "Quicken Loans Arena"],
        ["446e0f70-beea-5104-903f-fb65985711a1", "Sleep Train Arena"],
        ["53bac75a-a667-52b5-a416-b80718ae4ed2", "EnergySolutions Arena"],
        ["583152aa-de75-5bea-ac92-ac5b8a51f9f9", "Madison Square Garden"],
        ["5b239206-57ce-50aa-baaa-627f3349dfdc", "Toyota Center"],
        ["62cc9661-7b13-56e7-bf4a-bba7ad7be8da", "Air Canada Centre"],
        ["6ec47e31-f778-5319-b6c4-3254e076ba0e", "New Orleans Arena"],
        ["7657c204-a20b-527a-99cb-dc29218462aa", "FedEx Forum"],
        ["792ec100-691e-5e16-8ef8-79b2b6ee38ba", "Staples Center"],
        ["7a330bcd-ac0f-50ca-bc29-2460e5c476b3", "Barclays Center"],
        ["7aed802e-3562-5b73-af1b-3859529f9b95", "Target Center"],
        ["7d69b080-91ca-53c9-9302-45c1a72c5549", "TD Bank Garden"],
        ["8a7580c0-4052-54d5-85cd-85aab6200acf", "AT&amp;T Center"],
        ["9bb9599c-17dd-4253-82bb-96fae950a32f", "BMO Harris Bradley Center"],
        ["a13af216-4409-5021-8dd5-255cc71bffc3", "Chesapeake Energy Arena"],
        ["a380f011-6e5d-5430-9f37-209e1e8a9b6f", "Time Warner Cable Arena"],
        ["aecd8da6-0404-599c-a792-4b33fb084a2a", "Amway Center"],
        ["b3dca541-859e-5301-bf90-4ec677a514a9", "Wells Fargo Center"],
        ["b67d5f09-28b2-5bc6-9097-af312007d2f4", "American Airlines Arena"],
        ["e25e21f2-1d67-5f13-910b-81fc8629eea7", "Oracle Arena"],
        ["e83899a5-a6dd-58f8-bd42-34b4857ee714", "The Palace of Auburn Hills"],
        ["f62d5b49-d646-56e9-ba60-a875a00830f8", "Verizon Center"],
        ["fd21f639-8a47-51ac-a5dd-590629d445cf", "Philips Arena"]];



        ltlng.push(new google.maps.LatLng(39.7487, -105.006691));
        ltlng.push(new google.maps.LatLng(45.533109, -122.667271));
        ltlng.push(new google.maps.LatLng(33.445777, -112.072398));
        ltlng.push(new google.maps.LatLng(39.763963, -86.156134));
        ltlng.push(new google.maps.LatLng(30.633664, -81.603128));
        ltlng.push(new google.maps.LatLng(32.790937, -96.810531));
        ltlng.push(new google.maps.LatLng(41.496733, -81.689318));
        ltlng.push(new google.maps.LatLng(38.649439, -121.517998));
        ltlng.push(new google.maps.LatLng(40.771052, 111.901444));
        ltlng.push(new google.maps.LatLng(32.471823, -93.737264));
        ltlng.push(new google.maps.LatLng(46.037921, 14.467237));
        ltlng.push(new google.maps.LatLng(43.643761, -79.378352));
        ltlng.push(new google.maps.LatLng(29.949014, -90.079654));
        ltlng.push(new google.maps.LatLng(35.139475, -90.051773));
        ltlng.push(new google.maps.LatLng(34.044983, -118.263971));
        ltlng.push(new google.maps.LatLng(40.682594, -73.975318));
        ltlng.push(new google.maps.LatLng(-32.750023, 151.58623));
        ltlng.push(new google.maps.LatLng(42.366281, -71.06236));
        ltlng.push(new google.maps.LatLng(13.669459, 100.720716));
        ltlng.push(new google.maps.LatLng(43.043804, -87.916132));
        ltlng.push(new google.maps.LatLng(35.464126, -97.51529));
        ltlng.push(new google.maps.LatLng(35.22545, -80.840174));
        ltlng.push(new google.maps.LatLng(28.540013, -81.383112));
        ltlng.push(new google.maps.LatLng(38.578648, -121.50238));
        ltlng.push(new google.maps.LatLng(25.781385, -80.188692));
        ltlng.push(new google.maps.LatLng(37.750811, -122.203391));
        ltlng.push(new google.maps.LatLng(42.697107, -83.245678));
        ltlng.push(new google.maps.LatLng(38.897443, -77.020905));
        ltlng.push(new google.maps.LatLng(33.757228, -84.397255));

        if (navigator.geolocation) {
            browserSupportFlag = true;
            navigator.geolocation.getCurrentPosition(function (position) {
                initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(initialLocation);
            }, function () {
                handleNoGeolocation(browserSupportFlag);
            });
        }
            // Browser doesn't support Geolocation
        else {
            browserSupportFlag = false;
            handleNoGeolocation(browserSupportFlag);
        }

        function handleNoGeolocation(errorFlag) {
            if (errorFlag == true) {
                alert("Geolocation service failed.");
                initialLocation = newyork;
            } else {
                alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
                initialLocation = siberia;
            }
            map.setCenter(initialLocation);
        }
        //map.setCenter(ltlng[0]);

        for (var i = 0; i <= ltlng.length; i++) {
            marker = new google.maps.Marker({
                map: map,
                position: ltlng[i]
            });

            (function (i, marker) {

                google.maps.event.addListener(marker, 'click', function () {

                    if (!infowindow) {
                        infowindow = new google.maps.InfoWindow();
                    }

                    infowindow.setContent("NBA " + text[i][1] + "<br><a href='javascript:alert(\"" + text[i][0]+"\");'>Add to Favorites</a>");

                    infowindow.open(map, marker);

                });

            })(i, marker);

        }

    }

    window.onload = markicons; 

</script>
<div id ="map"
        style="width: 896px; top: 51px; left: 32px; position: absolute; height: 400px">

</div>


</template>